#globe-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  position: relative;
  margin-top: 50px;
  right: -60px;
  
  @media screen and (max-width: 950px) {
    right: 0px;
    position: relative;
    top: -105px;
  }

  @media screen and (max-width: 600px) {
    right: 0px;
    position: relative;
    top: -130px;
  }
}