.profile {
  width: 55%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 70px;
  padding-right: 50px;

  @media screen and (max-width: 950px) {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }

  @media screen and (max-width: 600px) {
    width: 85%;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .profile-text-container {
    width: 60%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .profile-name {
      font-family: 'botanica';
      margin-top: 0px;

      @media screen and (max-width: 950px) {
        text-align: center;
        margin-top: 20px;
      }

    }

    .profile-bio {
      font-family: 'brandon-grotesque';
      letter-spacing: 1px;
      line-height: 1.2em;
      font-weight: bold;
      text-align: justify;
    }
  }
}