#globe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 60px;
  
  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}