.blog-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid rgba(196, 194, 194, 0.2);
  border-radius: 20px;
  box-shadow: 10px 10px 20px 10px rgba(167, 167, 167, 0.4);
  background-color: #F6F1E9;
  margin-bottom: 30px;
  padding-bottom: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  transition: transform 0.3s ease-in-out;

  @media screen and (max-width: 930px) {
    width: 100%;
  }

  &:hover{
    cursor: pointer;
    transform: translate(0px, -10px);
  }

  .blog-image{
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;
    width: 100%;
  }

  .blog-text{
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'brandon-grotesque';
    color: #124658;

    .blog-title{
      font-size: 22px;
      margin: 0px;
      text-align: left;
    }

    .blog-author-and-date {
      display: flex;
      font-weight: 900;
      width: 80%;
      justify-content: space-between;

      .blog-date {
      }
    }


    // .blog-summary{
    //   font-size: 16px;
    //   margin-top: 10px;
    //   margin-bottom: 0px;
    // }
  }
}