#the-team {
  padding-bottom: 150px;

  .title-container {
    margin: auto;
    text-align: center;

    @media screen and (max-width: 950px) {
      width: 80%;
    }

    .this-is-who {
      font-family: 'youthful';
      color: #8B6C78;
      font-size: 120px;
      font-weight: 100;
      margin-top: 0px;
      margin-bottom: 0px;
      position: relative;
      z-index: 1;
      margin-left: 5px;
      text-align: center;

      @media screen and (max-width: 950px) {
        font-size: 60px;
      }
    }
  
    .we-are {
      font-family: 'botanica';
      color: #124658;
      font-size: 100px;
      font-weight: 100;
      margin-top: -85px;
      z-index: -1;
      text-align: center;

      @media screen and (max-width: 950px) {
        font-size: 50px;
        margin-top: -40px;
        margin-bottom: 50px;
      }
    }
  }
}