#blog-title-container {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;

  #title {
    font-family: 'brandon-grotesque';
    font-size: 40px;
    color: #124658;
    text-align: center;
  }
}

#blog-filter-bar {
  display: flex;
  width: 100%;
  height: 50px;
  border-top: 1px solid #124658;
  border-bottom: 1px solid #124658;
  justify-content: flex-end;
  align-items: center;

  #filter-menus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 88%;
    font-family: 'brandon-grotesque';
    font-size: 12px;
    color: #124658;

    #tag-selection {
      margin-left: 20px;
      height: 50px;
      width: auto;
      border: none;
      font-family: 'brandon-grotesque';
      font-size: 16px;
      line-height: 12px;
      color: black;
    }
  }
}

.blog-grid {
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  margin: auto;

  .loader-container {
    width: 100px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
  }
}