.countries-widget {
  margin-top: 60px;
  width: 500px;
  background-color: #8DB5BC;
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  
  @media screen and (max-width: 950px) {
    order: 2;
    position: relative;
    top: -400px;
    z-index: 10;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
    top: -380px;
  }

  .title-container {
    margin: auto;
    text-align: center;

    @media screen and (max-width: 950px) {
      width: 80%;
      display: none;
    }
  
    .genesis {
      font-family: 'botanica';
      color: #124658;
      font-size: 55px;
      font-weight: 100;
      z-index: -1;
      margin-top: 0px;

      @media screen and (max-width: 950px) {
        margin-bottom: 10px;
      }
    }

    .countries {
      font-family: 'youthful';
      color: white;
      font-size: 80px;
      font-weight: 100;
      margin-top: -75px;
      position: relative;
      z-index: 1;
      margin-left: 5px;
      margin-bottom: 0px;
      line-height: 1;

      @media screen and (max-width: 950px) {
        font-size: 100px;
      }
    }
  }

  .slider {
    width: 85%;
    margin: auto;
  

    .country-container {
      margin-top: 30px;

      @media screen and (max-width: 950px) {
        margin-top: 0px;
      }

      .country-image {
        height: 125px;
        margin: auto;
        border: 2px solid white;
        border-radius: 10px;

        @media screen and (max-width: 950px) {
          display: none;
        }
      }


      .country-name-and-coords {
        display: flex;
        flex-direction: column;
        align-items: center;

      

        .country-name {
          text-align: center;
          font-size: 35px;
          font-family: 'botanica';
          color: #124658;
          font-weight: 100;
          margin-top: 15px;
          margin-bottom: 0px;
        }
  
        .country-coords {
          width: 250px;
          text-align: center;
          margin: auto;
          font-size: 22px;
          font-family: 'botanica';
          color: #124658;
          margin-bottom: 15px;
        }

      }
    

      .grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;

        @media screen and (max-width: 950px) {
          margin-top: 20px;
        }

        .artisan-row {
          display: flex;
          margin-bottom: 0px;

          @media screen and (max-width: 600px) {
            flex-direction: column;
          }

          .artisan-image {
            width: 40%;
            border: 2px solid white;
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            border-radius: 10px 0px 0px 0px;

            @media screen and (max-width: 600px) {
              width: 85%;              
              margin: auto;
              flex-direction: column;
              border: 2px solid white;
              border-right: 2px solid white;
              border-bottom: 1px solid white;
              border-radius: 10px 10px 0px 0px;
            }
          }

          .artisan-text {
            padding-left: 10px;
            line-height: 1.2em;
            color: #124658;
            border: 2px solid white;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            border-radius: 0px 10px 0px 0px;

            @media screen and (max-width: 600px) {
              width: calc(85% - 10px);
              height: 70%;
              margin: auto;
              flex-direction: column;
              border: 2px solid white;
              border-right: 2px solid white;
              border-bottom: 1px solid white;
              border-radius: 0px 0px 0px 0px;
              padding-bottom: 20px;
            }

            .artisan-name {
              font-size: 22px;
              margin-top: 15px;
              margin-bottom: 5px;

            }

            .artisan-info {
              padding-left: 15px;
              padding-right: 5px;
              height: 100px;

              @media screen and (max-width: 600px) {
                height: 80px;
              }
            }
          }

        }
        .product-row {
          display: flex;

          @media screen and (max-width: 600px) {
            flex-direction: column;
          }

          .product-image {
            width: 40%;
            border: 2px solid white;
            border-right: 1px solid white;
            border-top: 1px solid white;
            border-radius: 0px 0px 0px 10px;

            @media screen and (max-width: 600px) {
              order: 1;
              width: 85%;
              margin: auto;
              flex-direction: column;
              border: 2px solid white;
              border-right: 2px solid white;
              border-bottom: 1px solid white;
              border-top: 1px solid white;
              border-radius: 0px 0px 0px 0px;
            }
          }

          .product-text {
            padding-right: 10px;
            padding-left: 10px;
            line-height: 1.2em;
            color: #124658;
            border: 2px solid white;
            border-left: 1px solid white;
            border-top: 1px solid white;
            border-radius: 0px 0px 10px 0px;

            @media screen and (max-width: 600px) {
              order: 2;
              width: calc(85% - 20px);
              margin: auto;
              flex-direction: column;
              border: 2px solid white;
              border-right: 2px solid white;
              border-bottom: 2px solid white;
              border-top: 1px solid white;
              border-radius: 0px 0px 10px 10px;
              padding-bottom: 20px;
            }

            .product-name {
              font-size: 20px;
              margin-top: 15px;
              margin-bottom: 5px;
            }

            .product-info {
              padding-left: 15px;
            }
          }
        }
      }
    }
    .slick-prev:before {
      font-size: 30px;
      color: #124658;
      position: relative;
      top: -130px;
      left: -7px;

      @media screen and (max-width: 950px) {
        top: -160px;
      }

      @media screen and (max-width: 600px) {
        top: -350px;
      }
    }
    
    .slick-next:before {
      font-size: 30px;
      color: #124658;
      position: relative;
      top: -130px;
      right: 7px;

      @media screen and (max-width: 950px) {
        top: -160px;
      }

      @media screen and (max-width: 600px) {
        top: -350px;
      }
    }
  }
}

