#testimonials {
  margin-top: 160px;
  padding-bottom: 200px;

  .title {
    font-family: 'botanica';
    font-size: 75px;
    font-weight: 100;
    color: #124658;
    text-align: center;
    line-height: 1em;
    margin: auto;
    padding-top: 35px;

    span {
      font-family: 'youthful';
      color: #8B6C78;
      text-align: center;
    }
  }

  .slider-container {
    width: 50%;
    height: 420px;
    margin: auto;
    margin-top: 35px;
    background-color: rgb(247, 245, 239);
    border-radius: 50px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    
    .slider {
      width: 80%;
      margin: auto;
  
      .testimonial {
        height: 300px;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        outline: none;
      }
    
      p {
        width: 75%;
        margin: auto;
        text-align: center;
        font-family: 'brandon-grotesque';
        font-size: 23px;
        letter-spacing: 1px;
        line-height: 1.2em;
      }
    
      .testimonial-name {
        margin-top: 5px;
        font-size: 19px;
        font-weight: 900;
        letter-spacing: 2px;
      }
    
      .slick-prev:before {
        font-size: 30px;
        color: #124658;
      }
      
      .slick-next:before {
        font-size: 30px;
        color: #124658;
      }
    }
  }
}