#testimonials {
  margin-top: 160px;
  padding-bottom: 200px;

  @media screen and (max-width: 600px) {
    margin-top: 100px;
  }

  .title {
    font-family: 'botanica';
    font-size: 75px;
    font-weight: 100;
    color: #124658;
    text-align: center;
    line-height: 1em;
    margin: auto;
    padding-top: 35px;

    @media screen and (max-width: 900px) {
      font-size: 60px;
    }

    @media screen and (max-width: 600px) {
      font-size: 40px;
    }

    span {
      font-family: 'youthful';
      color: #8B6C78;
      text-align: center;
    }
  }

  .slider-container {
    width: 50%;
    height: 420px;
    margin: auto;
    margin-top: 35px;
    background-color: rgb(247, 245, 239);
    border-radius: 50px;
    opacity: 0.5;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 900px) {
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
    }
    
    .slider {
      width: 80%;
      margin: auto;
  
      .testimonial {
        height: 300px;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        outline: none;

        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
    
      p {
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 23px;
        letter-spacing: 1px;
        line-height: 1.2em;

        @media screen and (max-width: 600px) {
          font-size: 18px;
          width: 85%;
        }
      }
    
      .testimonial-name {
        margin-top: 5px;
        font-size: 19px;
        letter-spacing: 2px;

        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }
    
      .slick-prev:before {
        font-size: 30px;
        color: #124658;

        @media screen and (max-width: 600px) {
          font-size: 40px;
          position: relative;
          left: -10px;
        }
      }
      
      .slick-next:before {
        font-size: 30px;
        color: #124658;

        @media screen and (max-width: 600px) {
          font-size: 40px;
          position: relative;
          right: 10px;
        }
      }
    }
  }
}