#navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  // top: -60px;

  @media screen and (max-width: 600px) {
    padding-left: 140px;
  }

  .navbar-menu-container {
    background-color: #124658;
    color: white;
    width: 100%;
  }

  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 600px) {
      display: none;
    }
    
    .about-link {
      position: relative;
    }

    .drop-down {
      position: absolute;
      width: 200px;

      .drop-down-item {
        padding: 5px;
        font-size: 20px;
        background-color: #124658;
        cursor: pointer;
        padding: 10px;

        &:last-child {
          border-radius: 0px 0px 10px 10px;
        }

        &:hover {
          background-color: #8DB5BC;
        }
      }
    }

    .menu-item {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        cursor: pointer;
        background-color: #8DB5BC;
      }

      @media screen and (max-width: 950px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        font-size: 22px;
        text-align: center;
        margin: 0px;

        @media screen and (max-width: 950px) {
          font-size: 12px;
        }
      }
    }

    .search-icon {
      cursor: pointer;
      width: 35px;
      height: 35px;
      margin-left: 35px;
      margin-right: 35px;

      @media screen and (max-width: 950px) {
        width: 20px;
        height: 20px;
      }
    }

    .bag-icon {
      cursor: pointer;
      width: 30px;
      height: 35px;

      @media screen and (max-width: 950px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}