#navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  top: -60px;

  @media screen and (max-width: 600px) {
    padding-left: 140px;
  }

  .navbar-menu-container {
    background-color: #124658;
    color: white;
    width: 100%;
    padding: 15px;
  }

  .navbar-menu {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 600px) {
      display: none;
    }
    
    .about-link {
      position: relative;
    }

    .drop-down {
      position: absolute;
      width: 200px;

      .drop-down-item {
        padding: 5px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        font-family: 'brandon-grotesque';
        font-size: 20px;
        background-color: #F6F1E9;
        cursor: pointer;

        &:first-child {
          border-radius: 5px 5px 0px 0px;
        }

        &:last-child {
          border-bottom: 1px solid black;
          border-radius: 0px 0px 5px 5px;
        }

        &:hover {
          background-color: #c0bbb2;
        }
      }
    }

    p {
      font-family: 'brandon-grotesque';
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 22px;
      text-align: center;
      margin-right: 65px;

      &:hover {
        cursor: pointer;
      }
    }

    .search-icon {
      cursor: pointer;
      width: 30px;
      margin-right: 35px;
      
    }

    .bag-icon {
      cursor: pointer;
      width: 30px;
    }
  }
}