#header-image {
  background-image: url('/images/header-image.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;

  .logo {
    width: 220px;
    height: 150px;
    margin-left: 190px;
    padding-top: 90px;
  }
}