#genesis-box-display {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 140px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    padding-top: 100px;
    width: 85%;
  }

  .info {
    width: 50%;
    display: flex;
    // margin-right: 50px;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1000px) {
      // align-items: center;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .title {
      font-family: 'botanica';
      font-size: 45px;
      font-weight: 100;
      color: #124658;
      text-align: center;
      margin-bottom: 0px;

      @media screen and (max-width: 600px) {
        font-size: 40px;
      }
    }

    .price {
      font-family: 'brandon-grotesque';
      font-size: 28px;
      font-weight: 900;
      color: #124658;
      text-align: left;
      margin-top: 5px;
      margin-left: 10px;
    }

    #view-more {
      display: flex !important;
      max-width: 100% !important;
      height: 35px;
      justify-content: center !important;
      margin: 0 !important;
    }

    #add-to-cart {
      display: flex !important;
      max-width: 100% !important;
      height: 35px;
      justify-content: center !important;
      margin: 0 !important;
    }

  //   #add-to-cart {
  //     font-family: 'brandon-grotesque';
  //     font-size: 16px;
  //     font-weight: 100;
  //     line-height: 1.8;
  //     color: #F6F1E9;
  //     background-color: #4c1d31;
  //     width: 200px;
  //     height: 35px;
  //     margin-top: 20px;
  //     margin-left: 10px;
  //     border: none;

  //     @media screen and (max-width: 1000px) {
  //       display: none;
  //     }

  //     &:hover {
  //       cursor: pointer;
  //       transform: scale(1.03);
  //       background-color: #773351;
  //     }
  //   }
  // }
  }

  .slider {
    width: 480px;
    margin-top: 60px;

    @media screen and (max-width: 1000px) {
      margin-top: 0px;
    }

    @media screen and (max-width: 600px) {
      width: 95%;
    }

    .image-container {
      height: 400px;
      display: flex !important;
      align-items: center;
      border-radius: 40px;


      @media screen and (max-width: 1000px) {
        height: 300px;
      }

      @media screen and (max-width: 600px) {
        width: 95%;
        height: 280px;
      }

      .image {
        margin: auto;
        width: 400px;
        border-radius: 40px;

        @media screen and (max-width: 1000px) {
          height: 300px;
        }

        @media screen and (max-width: 600px) {
          width: 95%;
          height: auto;
        }
      }
    }

    .slick-prev:before {
      color: #124658;
      font-size: 25px;
    }

    .slick-next:before {
      color: #124658;
      font-size: 25px;
    }
  }

  .view-more-mobile {
    display: none;
    font-family: 'brandon-grotesque';
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8;
    color: #F6F1E9;
    background-color: #81606c;
    width: 200px;
    height: 35px;
    margin-top: 60px;
    border: none;

    @media screen and (max-width: 1000px) {
      display: block;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      background-color: #b98e9e;
    }
  }

  .add-to-cart-mobile {
    display: none;
    font-family: 'brandon-grotesque';
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8;
    color: #F6F1E9;
    background-color: #4c1d31;
    width: 200px;
    height: 35px;
    margin-top: 20px;
    border: none;

    @media screen and (max-width: 1000px) {
      display: block;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      background-color: #773351;
    }
  }
}