.connect-widget {
  width: 420px;
  background-color: #8DB5BC;
  border-radius: 75px;
  padding-left:25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;

  .title {
    text-align: center;
    font-family: 'brandon-grotesque';
    font-size: 35px;
    color: #124658;
  }
}