.article {
  width: 50%;
  margin: auto;
  font-family: 'brandon-grotesque';
  color: #124658;

  .article-title-container{
    width: 300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'brandon-grotesque';
    margin-bottom: 70px;


    .article-title{
      font-size: 30px;
      margin: 0px;
      text-align: center;
    }

    .article-author-and-date {
      display: flex;
      font-weight: 900;
      justify-content: space-between;
    }
  }

  .article-body {
    font-size: 17px;

    img {
      max-width: 70%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }


  }
}