#why-genesis {
  padding-bottom: 150px;
  overflow: hidden;

  .title-container {
    width: 30%;
    margin: auto;
    text-align: center;

    @media screen and (max-width: 950px) {
      width: 80%;
    }

    .why {
      font-family: 'youthful';
      color: #8DB5BC;
      font-size: 120px;
      font-weight: 100;
      margin-top: 0px;
      margin-bottom: 0px;
      position: relative;
      z-index: 1;
      margin-left: 5px;

      @media screen and (max-width: 950px) {
        font-size: 90px;
      }
    }
  
    .genesis {
      font-family: 'botanica';
      color: #124658;
      font-size: 100px;
      font-weight: 100;
      margin-top: -75px;
      z-index: -1;

      @media screen and (max-width: 950px) {
        font-size: 60px;
        margin-bottom: 10px;
        margin-top: -60px;
      }
    }
  }

  .blob-container {
    position: relative;
    width: 500px;
    margin: auto;
    display: block;

    @media screen and (max-width: 600px) {
      width: 110%;
      position: relative;
      left: -15px;
      padding-bottom: 80px;
    }

    .blob {
      width: 100%;
      margin: auto;
      display: block;
      margin-top: 45px;
      position: absolute;
      z-index: 2;

    }
    .definition-container {
      position: relative;
      z-index: 8;
      width: 330px;
      top: 140px;
      left: 75px;
      color: white;

      @media screen and (max-width: 600px) {
        width: 70%;
        left: 15%;
        top: 0px;
        padding-top: 16%;
      }

      .genesis-word {
        font-family: 'botanica';
        font-size: 25px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 0px;
      }

      .type {
        letter-spacing: 1px;
        line-height: 1.2em;
        text-align: center;
        margin-top: 0px;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
  
      }
  
      .def {
        letter-spacing: 1px;
        line-height: 1.2em;

        @media screen and (max-width: 600px) {
          font-size: 20px;
        }
      }
  
      .syn-ant {
        letter-spacing: 1px;
        line-height: 1.2em;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }
  }
  
  .creation-and-beginnings-body {
    width: 50%;
    margin: auto;
    margin-top: 300px;

    @media screen and (max-width: 950px) {
      width: 90%;
    }

    @media screen and (max-width: 600px) {
      margin-top: 150px;
    }

    @media screen and (max-width: 450px) {
      margin-top: 80px;
    }

    .creation-title {
      font-family: 'youthful';
      font-size: 70px;
      font-weight: 100;
      color: #8DB5BC;
      margin-bottom: 0px;
      
    }

    .creation-body {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 1.2em;
    }

    .beginnings-title {
      font-family: 'youthful';
      font-size: 70px;
      font-weight: 100;
      margin-bottom: 0px;
      color: #8DB5BC;
    }

    .beginnings-body {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 1.2em;
    }
  }

  .blue-logo {
    width: 80px;
    display: block;
    margin: auto;
    margin-top: 85px;
  }
 
}