#blog-comments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 100px;

  @media screen and (max-width: 650px) {
    width: 100%;
    padding: 0px;
    margin-bottom: 100px;
    overflow: hidden;
    height: auto;
  }

  #comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 650px) {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      border-radius: 0px;
    }

    .leave-comment{
      font-size: 29px;
      font-family: brandon-grotesque;
      font-weight: 300;
      color: #124658;
      margin-bottom: 20px;
      margin-top: 6px;
      width: 100%;

      @media screen and (max-width: 650px) {
        width: 85%;
        text-align: center;
        margin-top: 60px;
      }
    }

    #questions{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 16px;

      @media screen and (max-width: 650px) {
        width: 85%;
      }

      input, textarea{
        transition-duration: 400ms;
        border: 1px solid #124658;
        padding: 12px;
        font-size: 18px;
        font-family: brandon-grotesque;
        font-weight: 300;
        background-color: #F6F1E9;

        &:focus{
          outline: none !important;
          background-color: white;
        }
      }

      #email{
        width: calc(100% - 26px);
        margin-top: 16px;
        font-family: brandon-grotesque;
        font-weight: 300;
      }

      #message{
        width: calc(100% - 26px);
        margin-top: 16px;
        height: 200px;
        font-family: brandon-grotesque;
        font-weight: 300;
      }

      #names{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .name-inputs{
          width: 48%;
          transition-duration: 400ms;
          border: 1px solid #124658;
          padding: 12px;
          font-size: 18px;
  
          &:focus{
            outline: none !important;
            box-shadow: 0px 4px 6px rgba($color: #000000, $alpha: 0.05);
          }

          &:first-child{
            margin-right: 20px;
          }
        }
      }

      #submit-row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 16px;

        .display-message{
          font-family: brandon-grotesque;
          font-weight: 300;
          height: 0px;
          overflow: visible;
          font-size: 18px;
          align-self: center;
          margin-left: 10px;
          color: #124658;

        }

        button{
          padding: 0px;
          border: none;
          cursor: pointer;
          transition-duration: 200ms;
          display: flex;
          align-items: center;
          font-family: brandon-grotesque;
          font-weight: 300;
          background-color: #81606c;

          @media screen and (max-width: 600px) {
            width: 150px;
            text-align: center;
          }

          &:hover{
            background-color: #b98e9e;
            color: white;
          }

          &:focus{
            outline: none !important;
          }

          p{
            margin: 0px;
            padding: 12px;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 18px;
            color: white;

            @media screen and (max-width: 600px) {
              text-align: center;
              padding-left: 45px;
            }
  
          }
        }
      }
    }
  }
}