#home-banner {
  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    height: 400px;
    
    .text {
      width: 35%;
      padding-left: 10%;
      font-family: 'botanica';
      font-size: 45px;
      margin-right: 5%;
      margin-top: 100px;
    }

  }
}



