body {
  margin: 0px;
  font-family: brandon-grotesque;
  font-weight: 300;
}

h1, h2, h3, h4, p {
  font-family: brandon-grotesque;
  font-weight: 300;
}

.pink-button {
  font-family: brandon-grotesque;
  font-weight: 300;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.8;
  color: #F6F1E9;
  background-color: #81606c;
  width: 200px;
  height: 35px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border: none;
  outline: none;
}

@media screen and (max-width: 600px) {
  .pink-button {
    height: 45px;
  }
}

.pink-button:hover {
  cursor: pointer;
  background-color: #b98e9e;
}

.left-arrow {
  width: 20px;
  margin-right: 5px;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-column-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blue-logo {
  width: 80px;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

.empty-space {
  height: 200px;
}

